<div th:fragment="sidebar" class="col-md-2 sidebar p-3">
    <h4 class="text-center mb-4"><i class="fa-solid fa-graduation-cap"></i> Admin Center</h4>
    <ul class="nav flex-column">
        
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'courses'} ? 'active'" 
               th:href="@{/admin/dashboard}">
               <i class="fa-solid fa-book me-2"></i> Quản lý Khóa học
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'news'} ? 'active'" 
               th:href="@{/admin/news}">
               <i class="fa-regular fa-newspaper me-2"></i> Tin tức & Sự kiện
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'materials'} ? 'active'" 
               th:href="@{/admin/materials}">
               <i class="fa-solid fa-file-pdf me-2"></i> Tài liệu học tập
            </a>
        </li>
        
        <li class="nav-item mt-5">
             <a class="nav-link text-danger" th:href="@{/logout}">
                <i class="fa-solid fa-sign-out-alt me-2"></i> Đăng xuất
             </a>
        </li>
    </ul>
</div>